version: 2.1
jobs:
  build:
    working_directory: ~/ex_plasma
    docker:
      - image: circleci/elixir:1.10.2
    environment:
      MIX_ENV=test
    steps:
      - checkout
      - run:
          name: Install Rust
          command: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - run: echo 'export PATH=~/.cargo/bin/:$PATH' >> $BASH_ENV
      - run: mix local.rebar --force && mix local.hex --force
      - restore_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
      - run:
          command: mix do deps.get, compile --warnings-as-errors --force
          no_output_timeout: 20m
      - save_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "deps"
            - "_build"
            - "~/.cargo/"
  test:
    working_directory: ~/ex_plasma
    docker:
      - image: circleci/elixir:1.10.2
    environment:
      MIX_ENV=test
    steps:
      - checkout
      - run: echo 'export PATH=~/.cargo/bin/:$PATH' >> $BASH_ENV
      - run: mix local.rebar --force && mix local.hex --force
      - restore_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
      - run: mix do deps.get, test --exclude skip
      - run: mix coveralls.circle
  credo:
    working_directory: ~/ex_plasma
    docker:
      - image: circleci/elixir:1.10.2
    environment:
      MIX_ENV=test
    steps:
      - checkout
      - run: mix local.rebar --force && mix local.hex --force
      - restore_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
      - run: mix do deps.get, credo, format --check-formatted --dry-run
  conformance:
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/ex_plasma
    steps:
      - checkout
      - run: echo 'export PATH=~/.cargo/bin/:$PATH' >> $BASH_ENV
      - run:
          name: Install Erlang and Elixir
          command: |
            set -e
            wget https://packages.erlang-solutions.com/erlang-solutions_2.0_all.deb
            sudo dpkg -i erlang-solutions_2.0_all.deb
            sudo apt-get update
            sudo apt-get install esl-erlang=1:21.3.8.10-1 elixir=1.10.2-1
      - run: mix local.rebar --force && mix local.hex --force
      - run: make up-mocks
      - restore_cache:
          key: v1-conformance-deps-cache-{{ checksum "mix.lock" }}
      - run: mix do deps.get, compile --warnings-as-errors --ignore-module-conflict --force
      - save_cache:
          key: v1-conformance-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "deps"
            - "_build"
      - run: mix test --only conformance
  dialyzer:
    working_directory: ~/ex_plasma
    docker:
      - image: circleci/elixir:1.10.2
    environment:
      MIX_ENV=dev
    steps:
      - checkout
      - run: echo 'export PATH=~/.cargo/bin/:$PATH' >> $BASH_ENV
      - run: mix local.rebar --force && mix local.hex --force
      - restore_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
      - restore_cache:
          key: v1-dialyzer-plts-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
      - run:
          name: Unpack PLT cache
          command: |
            mkdir -p _build/dev
            cp plts/dialyxir*.plt _build/dev/ || true
            mkdir -p ~/.mix
            cp plts/dialyxir*.plt ~/.mix/ || true
      - run: mix do deps.get, dialyzer --halt-exit-status
      - run:
          name: Pack PLT cache
          command: |
            mkdir -p plts
            cp _build/dev/dialyxir*.plt plts/
            cp ~/.mix/dialyxir*.plt plts/
      - save_cache:
          key: v1-dialyzer-plts-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "plts"
workflows:
  version: 2
  build-test-lint:
    jobs:
      - build
      - test:
          requires:
            - build
      - credo:
          requires:
            - build
      - dialyzer:
          requires:
            - build
      - conformance:
          requires:
            - build
